<html>
<!-- Text between angle brackets is an HTML tag and is not displayed.
Most tags, such as the HTML and /HTML tags that surround the contents of
a page, come in pairs; some tags, like HR, for a horizontal rule, stand 
alone. Comments, such as the text you're reading, are not displayed when
the Web page is shown. The information between the HEAD and /HEAD tags is 
not displayed. The information between the BODY and /BODY tags is displayed.-->
<head>
<title>Umo Space Launcher</title>
</head>
<!-- The information between the BODY and /BODY tags is displayed.-->
<body>


<h1>Umo Space launch pad.</h1>
<p>Umo space is a javascript programming project that I started to create a 2D analog to space adventure games like Privateer and Freelancer.
<br>
<br>
    test
Features:
<li>Procedurally generated enemies</li>
<li>4 upgradeable weapons</li>
<li>Non-GMO</li>
<li>Wireless</li>
</ul>
<br>
Ambitions:
<li>Procedurally generated enemies and systems</li>
<li>10 upgradeable weapons</li>
<li>NPCs and NPC Activity</li>
<li>Trading</li>
</ul>
<br>
Controls:
<li>Mouse steers ship</li>
<li>Tap spacebar for thrust</li>
<li>Control key fires the current weapon</li>
<li>S key to toggle shop menu</li>
<li>N key to cycle nav targets</li>
</p>
<p>Play Umo Space
<!-- <p>Play Umo Space <a href="./UmoSpace107.html">here</a>.-->
<!-- The above commented code works outside of djangonia-->
    <a href="{% url 'game' %}" >here</a>. </p>
</body>
</html>