<html>
<!-- Text between angle brackets is an HTML tag and is not displayed.
Most tags, such as the HTML and /HTML tags that surround the contents of
a page, come in pairs; some tags, like HR, for a horizontal rule, stand 
alone. Comments, such as the text you're reading, are not displayed when
the Web page is shown. The information between the HEAD and /HEAD tags is 
not displayed. The information between the BODY and /BODY tags is displayed.-->
<head>
<title>Hire Andrew Kane</title>
</head>
<!-- The information between the BODY and /BODY tags is displayed.-->
<body>


<h1>Umo Space launch pad.</h1>
<p>Umo space is a top down space adventure RPG shooter by Andrew Kane.<br>
<br>
Features:
<li>Procedurally generated solar systems, enemies, missions, and cargo prices make for a unique experience every time you play.</li>
<li>Dockable stations with ship upgrades to buy, cargo to trade, and missions to take.</li>
<li>10 unique and upgradeable weapons</li>
<li>Ship equipment and weapon upgrades</li>
<li>Wormholes allowing the player to travel through the 3rd dimension</li>
<li>Artisanal game and physics engine governs both players and celestial bodies </li>
<li>Detailed HUD including zoomable map, compass, radar, targeting, ship statistics, cargo manifest, and much more.</li>
<li>Wireless</li>
<li>Non-GMO</li>
<li>Lead-Free</li>
</ul>
<br>
Ambitions:
<li>Multiplayer</li>
<li>Music</li>
<li>Even more of everything it already has</li>
</ul>
<br>
Controls:
<li>Use mouse to steer ship (it points at your cursor), left click to fire weapons, right click to fire thrusters.  Click, don't hold.</li>
<li>Remember to slow down before you reach (or overshoot) your destination</li>
<li>J will toggle journal, showing all past radio messages.  Spacebar will skip to end of current message.</li>
<li>Click (shoot) the "controls" planet in the menu system for a complete list of controls.</li>

</p>
<p>Play Umo Space now!
<!-- <p>Play Umo Space <a href="./UmoSpace107.html">here</a>.-->
<!-- The above commented code works outside of djangonia-->
<a href="{% url 'game' %}" >here</a>. </p>

</body>
</html>