[Unit]
Description=Gunicorn server for andrewWebapp

[Service]
Restart=on-failure
User=ubuntu
WorkingDirectory=/home/ubuntu/andrewWebApp
EnvironmentFile=/home/ubuntu/andrewWebApp/.env

ExecStart=/home/ubuntu/.local/bin/gunicorn --bind unix:/tmp/ec2-3-136-15-117.us-east-2.compute.amazonaws.com.socket website.wsgi:application

[Install]
WantedBy=multi-user.target